body {
    margin: 0%;
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 3px 15px;
    border-radius: 5px;
    border: white;
    font-weight: bold;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}
.header {
    background-color:#1F2937 ;
    color: aliceblue;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
}