body {
    margin: 0%;
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 5px;
}

li {
    display: inline;
    margin: 0;
    padding: 0;
}
.header {
    background-color:#1F2937 ;
    color: aliceblue;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
}