body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin: auto;
    
}

button {
    color: white;
    background-color: #3882f6;
    padding: 7px 20px;
    border-radius: 5px;
    border: white;
    font-weight: bold;
    cursor: pointer;
    
}
.header-button:hover{
    background-color: #f9faf8;
    color: #3882f6;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.Logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    padding: 0;
    margin-bottom: 0;
}
.header {
    background-color:#1F2937 ;
    color: aliceblue;
    width: 100%;
    
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    margin-bottom: 75px;
    padding: 20px 175px;
}

.header-content {
    display: flex;
    margin-bottom: 75px;
    padding: 0px 175px;
    justify-content: space-between;
    align-items: flex-end;
}

.container {
    width: 410px;
}

.header-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.information {
    text-align: center;
    }
   
.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.titel {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 32px;
    color: #1F2937 ;
}

.info {
    max-width: 200px;
}

